[submodule "dcat-admin-extensions/zwping/operation-log"]
	path = dcat-admin-extensions/zwping/operation-log
	url = git@gitee.com:zwping/operation-log.git
	branch = master
[submodule "dcat-admin-extensions/zwping/backup"]
	path = dcat-admin-extensions/zwping/backup
	url = git@gitee.com:zwping/backup.git
